<div class="my-4 m-6 mt-10">
      <div class="max-w-7xl mx-auto">
        <div class="text-center">
          <h2 class="text-3xl font-extrabold text-white inline-block relative after:absolute after:w-4/6 after:h-1 after:left-0 after:right-0 after:-bottom-4 after:mx-auto after:bg-lime-500 after:rounded-full">Nossos Cursos</h2>
        </div>
        <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-16 max-md:max-w-lg mx-auto">
          <% @courses.each do |course| %>
          <li>
          <%= link_to course_path(course[:nome]) do %>
          <div class="bg-gray-900 cursor-pointer rounded overflow-hidden shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] relative top-0 hover:-top-2 transition-all duration-300">
            <%= image_tag "#{course[:nome]}.png", alt: course[:nome].titleize, class: "w-full h-60 object-cover" %>  
            <div class="p-6">
              <span class="text-sm block text-gray-400 mb-2">Professor: Ana Luiza Rodrigues Machado</span>
              <h3 class="text-xl font-bold"><%= course[:nome].titleize %></h3>
              <hr class="my-6" />
              <p class="text-gray-400 text-sm"><%= course[:descricao] %></p>
            </div>
          </div>
          <% end %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
