<h1><%= @modulo[:titulo] %></h1>
<p><strong>Descrição:</strong> <%= @modulo[:descricao] %></p>
<%= link_to 'Voltar para o curso', curso_path(@curso_nome) %>
<%= link_to 'Voltar para cursos', cursos_path %>